/* ==========================================================================
   Form element stylings
========================================================================== */

form {

    .formbody {
        @fragment clearfix;
    }

    .widget {
        margin-bottom: 10px;
        position: relative;
    }

    label {
        color: $(c-grey-2);
        display: block;
        font-size: .7222rem;
        line-height: 1.9;
        margin-bottom: 5px;
    }

    button {
        font-family: $(base-font);
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    textarea {
        @include animation(all, default);
        border-radius: $(border-radius)px;
        border: 2px solid $(c-grey-1);
        box-sizing: border-box;
        color: inherit;
        display: block;
        font-family: $(base-font);
        font-size: .888rem;
        font-weight: 300;
        line-height: 1.875;
        margin: 0;
        padding: 9px 10px 8px;
        width: 100%;

        &:hover,
        &:focus {
            border-color: $(c-grey-3);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25), 0 2px 5px 0 rgba(0, 0, 0, .25);
        }

        &:focus {
            outline: none;
        }

        &.error {
            border-color: $(c-primary);
        }

        &[readonly] {
            cursor: auto;

            &:hover,
            &:focus {
                border-color: $(c-grey-1);
                box-shadow: none;
            }

        }

    }

    textarea {
        height: 150px;
        min-height: 150px;
        resize: vertical;
    }

    fieldset {
        @fragment clearfix;

        border: none;
        margin: 0;
        padding: 0;

        legend {
            display: block;
            line-height: 1;
            margin: 0;
            padding-bottom: 1.25em;
            padding-top: 1.25em;
            text-transform: uppercase;
        }
    }

    input[type="radio"],
    input[type="checkbox"],
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        font-size: 1em;
        height: 0;
        position: absolute; /* Remove from element flow. */
        width: 0;
    }

    select {
        background-color: transparent;
        box-sizing: border-box;
        cursor: pointer;
        font-family: $(base-font);
        font-size: .888rem;
        font-weight: 300;
        height: 46px;
        line-height: 1.875;
        margin: 0;
        padding: 9px 10px 8px;
        position: relative;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    select::-ms-expand {
        display: none;
    }

    .ie select {
        background-image: none;
    }

    .select-wrapper {
        @include animation(all, default);
        background: #fff;
        border: 2px solid $(c-grey-1);
        border-radius: $(border-radius)px;
        position: relative;

        &:hover,
        &:focus {
            border-color: $(c-grey-3);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25), 0 2px 5px 0 rgba(0, 0, 0, .25);
        }

    }

    .select-icon {
        line-height: 1;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;

        svg {
            fill: $(c-red-1);
            height: 48px;
            width: 24px;
        }

    }

    button {

        &:focus {
            outline: none;
        }

    }

    input[type="radio"] + label,
    input[type="checkbox"] + label {
        font-size: .888rem;
        line-height: 1.5;
        padding-left: 28px;
        position: relative;
    }

    input[type="radio"] + label .radio-label-icon,
    input[type="checkbox"] + label .checkbox-label-icon {
        @include animation();
        background-color: $(c-white);
        border: 2px solid $(c-grey-1);
        border-radius: $(border-radius)px;
        height: 14px;
        left: 0;
        margin-top: 1px;
        position: absolute;
        width: 14px;

        svg {
            @include animation();
            fill: $(c-white);
            height: 10px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 2px;
            width: 14px;
        }

    }

    input[type="radio"]:hover + label .radio-label-icon,
    input[type="radio"]:focus + label .radio-label-icon,
    input[type="checkbox"]:hover + label .checkbox-label-icon,
    input[type="checkbox"]:focus + label .checkbox-label-icon {
        border-color: $(c-secondary);
        box-shadow: 0 0 4px 0 rgba(100, 179 ,43 ,.1), 0 2px 4px 0 rgba(100, 179, 43, .25);
    }

    input[type="radio"]:checked + label .radio-label-icon,
    input[type="checkbox"]:checked + label .checkbox-label-icon {
        background-color: $(c-secondary);
        border-color: $(c-secondary);

        svg {
            opacity: 1;
        }

    }

    input[type="radio"] + label .radio-label-icon,
    input[type="radio"]:checked + label .radio-label-icon {
        border-radius: 50%;
    }

    .radio_container.error .radio-label-icon,
    .checkbox_container.error .checkbox-label-icon {
        border-color: $(c-primary);
    }

    .checkbox_container,
    .radio_container {

        > span {
            display: block;
        }

    }

}


/* Placeholder colors
========================================================================== */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $(c-grey-1);
}
::-moz-placeholder { /* Firefox 19+ */
    color: $(c-grey-1);
}
:-ms-input-placeholder { /* IE 10+ */
    color: $(c-grey-1);
}
:-moz-placeholder { /* Firefox 18- */
    color: $(c-grey-1);
}


/* Special styling for radio cards
========================================================================== */

.radio_container.widget-radio-card {
    @fragment clearfix;
}

.radio-card {
    box-sizing: border-box;
    float: left;
    margin-top: 20px;
    padding-left: math($(grid-gutter)/2, px);
    padding-right: math($(grid-gutter)/2, px);
    width: 50%;

    &:nth-child(1),
    &:nth-child(2) {
        margin-top: 0;
    }

    &:nth-child(2n+1) {
        clear: left;
    }

    h2 {
        color: $(c-secondary);
        font-size: .888rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.333rem;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .description {
        font-size: .777rem;
        line-height: 1.357;

        p {
            line-height: 1.357;
        }

    }

    .choose {
        display: block;
    }

    .chosen {
        display: none;
    }

    .submit-price-wrapper {
        align-items: center;
        display: flex;
        margin-top: 30px;
    }

    .price-wrapper {
        margin-left: auto;
        text-align: right;
    }

    .price-gross {
        font-size: 1.333rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .price-net {
        font-size: .888rem;
        line-height: 1.5;
    }

    .submit {
        cursor: pointer;
    }

}

.radio-card-inner {
    @include animation();
    background-color: #F9F9F9;
    border-radius: $(border-radius)px;
    box-shadow: 0 0 0 1px $(c-grey-1) inset;
    box-sizing: border-box;
    padding: 20px 20px 30px;

    &:hover {
        background: $(c-white);
        box-shadow: 0 0 0 1px $(c-grey-1) inset, 0 5px 5px 0 rgba(0,0,0,0.05), 0 5px 10px 0 rgba(0,0,0,0.15);
    }

}

.radio-card.active {

    .radio-card-inner {
        background-color: $(c-white);
        box-shadow: 0 0 0 4px $(c-primary) inset;

        &:hover {
            box-shadow: 0 0 0 4px $(c-primary) inset, 0 5px 5px 0 rgba(0,0,0,0.05), 0 5px 10px 0 rgba(0,0,0,0.15);
        }

    }

    h2 {
        color: $(c-primary);
    }

    .choose {
        display: none;
    }

    .chosen {
        display: block;
    }

    .submit {

        .button,
        .button:hover,
        .button:focus,
        .button:active {
            background-color: $(c-primary);
            background-image: none;
            border-color: $(c-primary);
        }

    }

}


/* Form error box
========================================================================== */

.form-error-box {
    box-sizing: border-box;
    float: right;
    font-size: .888rem;
    margin-top: 74px; /* Align top edge oferror box with top edge of first input element in form. */
    padding-left: math($(grid-gutter)/2, px);
    padding-right: math($(grid-gutter)/2, px);
    width: 50%;

    .inner {
        background-color: $(c-primary);
        color: $(c-white);
        padding: 20px 30px 30px;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        color: $(c-white);
    }

}

.form-error-box-headline {
    font-size: 1.333rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* special styling for error box in modal box */
#colorbox {

    .form-error-box {
        width: 40%;
    }

}

form {

    p.error {
        display: none;
    }

}


/* Tooltips
========================================================================== */

form {

    .tooltip {
        background: #F9F9F9;
        border: 1px solid #ccc;
        color:#1A1A1A;
        font-size: 0.77rem;
        left: 50%;
        line-height: 1.4;
        margin-top: 10px;
        min-width: 200px;
        padding: 10px;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        width: 70%;
        z-index: 999;
    }

    .tooltip:after, .tooltip:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        left: 50%;
        pointer-events: none;
        position: absolute;
        width: 0;
    }

    .tooltip:after {
        border-color: rgba(236, 101, 0, 0);
        border-bottom-color: #F9F9F9;
        border-width: 10px;
        margin-left: -10px;
    }
    .tooltip:before {
        border-color: rgba(34, 34, 34, 0);
        border-bottom-color: #ccc;
        border-width: 11px;
        margin-left: -11px;
    }

}


/* Form elements
========================================================================== */

.form-headline-main {
    @fragment font-smoothing;
    box-sizing: border-box;
    color: $(c-secondary);
    font-size: 1.777rem;
    font-weight: 300;
    line-height: 1.5;
    padding-left: math($(grid-gutter)/2, px);
    padding-right: math($(grid-gutter)/2, px);
}

.form-group-headline {
    @fragment font-smoothing;
    box-sizing: border-box;
    color: $(c-black);
    font-size: 1.333rem;
    font-weight: 300;
    line-height: 1.5;
    padding-left: math($(grid-gutter)/2, px);
    padding-right: math($(grid-gutter)/2, px);
}