/* ==========================================================================
   Table styling
========================================================================== */

thead {
    text-align: left;
}

th,
td {
    border-bottom: 1px solid $(c-border);
    padding: 16px 16px 16px 0;
}