/* ==========================================================================
  CSS from slashworks
   ========================================================================== */

/**
 * @author Stefan Melz @ slashworks stefan@slash-works.de
 *
 *
 */



/* Headlines
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
}

h1,
.h1 {

}

h2,
.h2 {

}

h3,
.h3 {

}

h4,
.h4 {

}

h5,
.h5 {

}

p {
    line-height: 1.666;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }

}

ul {
    margin-top: 0;
}

li {
    list-style-type: none;
}



/* Links
========================================================================== */

a {
    color: $(c-primary);

    &:hover,
    &:focus {
        color: $(c-secondary);
    }

    &:active {
        color: $(c-black);
    }

}